<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="contenedor-habilidades">
        <div class="imagen-fondo">
            <!-- <img src="./assets/fotocompu.jpg" alt=""> -->
                <div class="capa-imagen">
                    <div class="titulo-pagina-habilidades">
                        <div class="iconos-sobre-mi">
                            <!-- <span id="icono-borrar" class="material-symbols-outlined">
                                delete
                                </span>
                            <span id="icono-editar" class="material-symbols-outlined">
                                edit
                            </span> -->
                        </div>
                        <h1 id="habilidades">Habilidades: _ <span class="cursor-maquina">&#160;</span></h1>
                    </div>
                    <!-- La idea es hacer un textarea en la version original para asi poder escribir y editar el texto que el autor sube -->
                    <div class="contenedor-articulo">  
                         <span class="articulo-personal"> <!-- Texto animado-->
                            Soy una persona con altas capacidades para aprender, siempre fui una persona autodidacta dedica a lo que mas me interesaba. 
                            Tengo altas capacidades para trabajar en equipo. Lider nato. <br><br>
                            Actualmente los lenguajes y herramientas que domino son: <br>
                            <ul class="lista-habilidades">
                                <li class="habilidad">- HTML</li>
                                <li class="habilidad">- CSS</li>
                                <li class="habilidad">- JavaScript</li>
                                <li class="habilidad">- C++</li>
                                <li class="habilidad">- Python</li>
                                <li class="habilidad">- Ruby</li>
                            </ul> <br><br>
                            Actualmente hablo 2 idiomas, Español (nativo) e Inlges (idioma secundario). Mi mama desde muy pequeño que usa
                            el ingles para comunicarse conmigo, por lo que puedo entender el idioma a la perfeccion.
                    
                        </span>
                    </div>
            </div>
        </div>  
    </div>  
</body>
</html>
