<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="contenedor-educacion">
        <div class="imagen-fondo">
            <!-- <img src="./assets/fotocompu.jpg" alt=""> -->
                <div class="capa-imagen">
                    <div class="titulo-pagina-educacion">
                        <div class="iconos-educacion">
                            <!-- <span id="icono-borrar" class="material-symbols-outlined">
                                delete
                                </span>
                            <span id="icono-editar" class="material-symbols-outlined">
                                edit
                            </span> -->
                        </div>
                        <h1 id="educacion">Educación: _ <span class="cursor-maquina">&#160;</span></h1>
                    </div>
                    <!-- La idea es hacer un textarea en la version original para asi poder escribir y editar el texto que el autor sube -->
                    <div class="contenedor-articulo">  
                        <span class="articulo-personal">
                            <div class="texto-habilidades">
                                Actualmente estos son los cursos y certificaciones que conforman mi carrera como Desarrollador Web: <br><br>
                            </div>
                            <ul class="lista-educ">
                                <li class="habilidad">- Argentina Programa - Edicion 4 <small>(2022)</small></li>
                                <li class="habilidad">- Coderhouse - Desarrollo Web <small>(2022)</small></li>
                                <li class="habilidad">- Programacion Orientada a objetos en C++. UTN BA <small>(2022)</small></li>
                                <li class="habilidad">- Codecademy - C++ for Programmers Course <small>(2021)</small></li>
                                <li class="habilidad">- Codecademy - Learn HTML Course <small>(2022)</small></li>
                                <li class="habilidad">- Codecademy - Learn CSS Course <small>(2022)</small></li>
                                <li class="habilidad">- Codecademy - Learn C++ Course <small>(2021)</small></li>
                                <li class="habilidad">- Codecademy - C++ for Programmers Course <small>(2021)</small></li>
                                <li class="habilidad">- Codecademy - Learn How to Code Course <small>(2021)</small></li>
                                
                            </ul> 
                        </span>
                    </div>
            </div>
        </div>  
    </div>  
</body>
</html>
