<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="contenedor-proyectos">
        <div class="imagen-fondo">
            <!-- <img src="./assets/fotocompu.jpg" alt=""> -->
                <div class="capa-imagen">
                    <div class="titulo-pagina-proyectos">
                        <div class="iconos-educacion">
                            <!-- <span id="icono-borrar" class="material-symbols-outlined">
                                delete
                                </span>
                            <span id="icono-editar" class="material-symbols-outlined">
                                edit
                            </span> -->
                        </div>
                        <h1>Proyectos: _ <span class="cursor-maquina">&#160;</span></h1>
                    </div>
                    <!-- La idea es hacer un textarea en la version original para asi poder escribir y editar el texto que el autor sube -->
                    <div class="contenedor-articulo">  
                        <span class="articulo-personal">
                            <div class="texto-habilidades">
                                Estos son los proyectos que hice y que me encuentro realizando: <br><br>
                            </div>
                            <ul class="lista-trabajos">
                                <li class="trabajos">- Upcycled - Ropa 100% hecha a mano.  <a class="link-upcycled" href="https://github.com/nachosaurin/44715-proyecto_final-Julio-Ignacio-Saurin-Yugdar"><small>(GitHub Repo)</small></a></li> 
                                <li class="trabajos">- Actualmente me encuentro realizando el Argentina Programa #YoProgramo (Edición N°4). <a class="link-ap" href="https://github.com/nachosaurin/Argentina-Programa-Repo_proyecto"><small>(GitHub Repo)</small></a></li>
                                <li class="trabajos">- Organizador de informacion para juegos.  <a class="link-upcycled" href="https://github.com/nachosaurin/CursoUTN"><small>(GitHub Repo)</small></a></li>
                            </ul> 
                        </span>
                    </div>
            </div>
        </div>  
    </div>  
</body>
</html>

