<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        
            <a class="links-partes" href="#sobremi">Sobre mi</a>
            <a class="links-partes" href="#habilidades">Habilidades</a>
            <a class="links-partes" href="#educacion">Educación</a>
            <a class="links-partes" href="#trabajos">Trabajos</a>
            <a class="links-partes" href="#proyectos">Proyectos</a>
            <a class="links-partes" href="#contacto">Contacto</a>
        
    </div>  
        <div class="contenedor-encabezado">
           
            <div class="iconos-encabezado">
                <!-- <div class="icono-hambur"> 
                    <span class="material-symbols-outlined">
                        menu
                        </span> 
                </div>  -->
            </div>
            <div class="imagen-encabezado">
                <div class="iconos-derecha">
                    <span id="icono-borrar" class="material-symbols-outlined">
                        delete
                        </span>
                    <span id="icono-editar" class="material-symbols-outlined">
                        edit
                    </span>
            </div>
                <img src="./assets/fotoportada1.jpeg" alt="Imagen de perfil">
            </div>
            <div class="texto-descrip--encabezado">
                <div class="nombreoc-encabezado">  
                    Ignacio Saurin <br> Front-End Develloper
                </div>
            </div>
        </div>
</body>
</html>
