.contenedor-encabezado {
    background-color: #051923;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    background-color: #051923;
    color: #051923;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-self: center;
    /* display: table; */
    /* text-align: left; */
    /* flex-direction: row; */
    width: 100%;
    position: sticky;
}

.links-partes {
    
    font-family: 'Inconsolata';
    font-size: 22px ;
    padding: 1em;
    text-decoration: none;
    color: #dddf00;
}

.links-partes:hover {
    color: white;
}
.imagen-encabezado {
    display: flex;
    align-self: center;
    flex-direction: column;
}

.iconos-derecha {
    display: flex;
    flex-direction: column;
    align-self: end;
}

.imagen-encabezado img {
    align-self: center;
    height: 55vh;
    width: 55vh;
    margin-top: 5rem;
    border-radius: 100%;
}

.texto-descrip--encabezado {
   display: flex;
   align-items: center;
   flex-direction: column;
    
}
.nombreoc-encabezado { 
    
    font-family: 'Inconsolata', monospace;
    font-size: 2.5em;
    padding: 2em;
}

.texto-animado {
    display: block;
    white-space: nowrap;
    color: white;
    border-right: 4px solid white;
    width: 41ch;
    animation: escribiendo 2s steps(34),
               parpadeo 0.5s infinite alternate ;
    overflow: hidden; 
    align-items: center;
    flex-direction: column;

}

@keyframes escribiendo {
    from {
        width: 0; 
    }
    
}

@keyframes parpadeo {
    70% {
        border-color: transparent;
    }
}

@media  screen and (max-width: 768px) {
    
    
    .contenedor-encabezado{
        background-color: #219ebc;
        display: flex;
        flex-direction: column;
        width: 100vw;
        
    }
   
    .imagen-encabezado {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    .imagen-encabezado img {
        align-self: center;
        padding-left: 0;
    }

    .texto-descrip--encabezado {
        display: flex;
        flex-direction: row;
         
     }
     .nombreoc-encabezado {    
         font-size: 1.5em;
         padding: 1em;
         align-self:center;   
     }
}