<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="contenedor-sobre-mi">
        <div class="imagen-fondo">
            <!-- <img src="./assets/fotocompu.jpg" alt=""> -->
                <div class="capa-imagen">
                    <div class="titulo-pagina-sobre-mi">
                        <div class="iconos-sobre-mi">
                            <!-- <span id="icono-borrar" class="material-symbols-outlined">
                                delete
                                </span>
                            <span id="icono-editar" class="material-symbols-outlined">
                                edit
                            </span> -->
                        </div>
                        <h1 id="sobremi">Sobre mi: _ <span class="cursor-maquina">&#160;</span></h1>
                    </div>
                    <!-- La idea es hacer un textarea en la version original para asi poder escribir y editar el texto que el autor sube -->
                    <div class="contenedor-articulo">  
                        <span class="articulo-personal">
                            Soy un desarrollador FrontEnd, nacido en Parana, Entre Rios. <br><br>
                            Siempre me gusto la tecnologia y lo que esta relacionado a crear cosas nuevas, utilizando siempre mecanismos diferentes. Ayudar es 
                            una de las cosas que mas me motiva a realizar mi trabajo como desarrollador web. <br><br>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde rem modi, reiciendis explicabo officia minus maxime fuga vitae veritatis consequatur.
                        </span>
                    </div>
            </div>
        </div>  
    </div>  
</body>
</html>
