.contenedor-sobre-mi {
    background-color: #000000;
    height: 100vh;
    width: 100%;
}

.iconos-sobre-mi span {
    display: flex;
    justify-content: flex-end;
}   

.iconos-sobre-mi {
    flex-direction: row;
}

.titulo-pagina-sobre-mi  {
    text-align: center;
    color: white;
   
}

.contenedor-articulo{
    color: white;
    font-size: 30px;
    margin: 5em ;
    font-family:'Inconsolata', monospace ;
}

